# Liu Haibo's
.gitignore
obj
bin
.directory
*.cbp
*.depend
*.layout
*.cscope_file_list
*.swp

code
code.o
4roundlion.txt
Assembly.txt
Assembly.asm

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
